<app-nav-bar-back></app-nav-bar-back>
<div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile border-bottom">
                <a href="#" class="nav-link flex-column">
                    <div class="nav-profile-image">
                        <img src="../../../assets/Back/images/faces/face1.jpg" alt="profile" />
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                        <span class="font-weight-semibold mb-1 mt-2 text-center">Antonio Olson</span>
                        <span class="text-secondary icon-sm text-center">$3499.00</span>
                    </div>
                </a>
            </li>

            <li class="pt-2 pb-1">
                <span class="nav-item-head">Menu</span>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/claimlist">
                    <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    <span class="menu-title">Claim list</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/claimstatics">
                    <i class="mdi mdi-chart-bar menu-icon"></i>
                    <span class="menu-title">Claim statics</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/delib">
                    <i class="mdi mdi-email-outline menu-icon"></i>
                    <span class="menu-title">Deliberation notes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listevalint">
                    <i class="mdi mdi-format-line-weight menu-icon"></i>
                    <span class="menu-title">Interview list</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/evalcalander">
                    <i class="mdi mdi-calendar menu-icon"></i>
                    <span class="menu-title">Calender of Interviews</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listquestions">
                    <i class="mdi mdi mdi-comment-question-outline menu-icon"></i>
                    <span class="menu-title">List of questions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewevaluations">
                    <i class="mdi mdi mdi mdi-contrast-box menu-icon"></i>
                    <span class="menu-title">List of evaluations</span>
                </a>
            </li>
        </ul>
    </nav>


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="row">
                    <div class="col-lg-10 grid-margin stretch-card">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" [(ngModel)]="date"
                                        (ngModelChange)="formatDate($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name user</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="First name user"
                                        [(ngModel)]="firstName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Object</label>
                                <div class="col-sm-8">
                                    <select class="form-control row" id="object" name="object" [(ngModel)]="object">
                                        <option value="Email">Email</option>
                                        <option value="APP0 Video">APP0 Video</option>
                                        <option value="Note">Note</option>
                                        <option value="Post FAQ">Post FAQ</option>
                                        <option value="Certificate">Certificate</option>
                                        <option value="Other complaint">Other complaint</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <button class="btn btn-success btn-rounded btn-fw btn-lg"
                                        (click)="search()">Search</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-sm-">
                                    <button class="btn btn-success btn-rounded btn-fw btn-lg"
                                        (click)="tendance()">Tendances</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-20">
                    <div class="form-group row">
                        <div class="col-sm-25">
                            <button class="btn btn-success btn-rounded btn-fw btn-lg" (click)="Sort()">sort by
                                priority</button>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control search-input mx-auto" placeholder="Search"
                    [(ngModel)]="searchTerm">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 stretch-card grid-margin"
                                    *ngFor="let c of filteredClaims | paginate: { itemsPerPage: 10 , currentPage: p } , let i=index">
                                    <div *ngIf="c.content.toLowerCase().includes(searchTerm.toLowerCase()) || c.object.toLowerCase().includes(searchTerm.toLowerCase())
                                    || c.dateClaim.toLowerCase().includes(searchTerm.toLowerCase()) || c.account.inscription.user.firstName.toLowerCase().includes(searchTerm.toLowerCase())">
                                        <div class="card">
                                            <div class="card-body p-0">
                                                <div *ngIf="c.image !== null">
                                                    <img src="data:image/png;base64,{{c.image}}" width="360px"
                                                        height="300px">
                                                </div>
                                            </div>
                                            <div class="card-body px-3 text-dark">
                                                <h5 class="font-weight-semibold" style="color: #990100;">{{c.object}}
                                                </h5>
                                                <div class="d-flex justify-content-between">
                                                    <p class="text-muted font-13 mb-0">{{c.content}}</p>
                                                    <i class="mdi mdi-heart-outline"></i>
                                                </div>
                                                <br>
                                                <div class="d-flex justify-content-between font-weight-semibold">
                                                    <p class="mb-0">
                                                        <i
                                                            class="mdi mdi-checkbox-blank-circle esprit-color pr-1"></i>Not
                                                        treated yet
                                                    </p>
                                                    <p class="mb-0">
                                                        <i class="mdi mdi-arrow-right star-color pr-1"></i> <a
                                                            routerLink="" (click)="viewDetails(c.idClaim)">View
                                                            details</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="mt-8 py-5 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>