<div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile border-bottom">
                <a href="#" class="nav-link flex-column">
                    
                    <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                        <span class="font-weight-semibold mb-1 mt-2 text-center">PHSET</span>
                        <span class="text-secondary icon-sm text-center"></span>
                    </div>
                </a>
            </li>
           
            <li class="pt-2 pb-1">
                <span class="nav-item-head">Students Life</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" routerLink="/Viewev" aria-expanded="false"
                    aria-controls="ui-basic">
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    <span class="menu-title">Events Details</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="dropdown-hover" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/res">Reservation List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  routerLink="/speaker">Speakers List</a>
                               
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Certif">Certificates</a>
                                
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Cal">Calender</a>
                                
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/stat">Statistic</a>
                                
                        </li>
                        
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" routerLink="/viewPost" aria-expanded="false"
                    aria-controls="ui-basic">
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    <span class="menu-title">APP0 Details</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="dropdown-hover" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/listSubj">Subjects List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                routerLink="/app0det">Thematics List</a>
                        </li>
                       
                    </ul>
                </div>
            </li>
           
        </ul>
    </nav>
</div>