

.login {
  position: fixed;
  top: 32%;
  left: 32%;
  font-size: 1.6rem;
  width: 550px;
  height: 340px;
  padding: 0.75rem;
  border-radius: 0.5rem;
}


.login-select {
  width: 96%;
  margin:2%;
  text-align: center;
}

.login > label {
  padding: 12px 20px;
  margin: 2%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 96%;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}

.login > button {


  border-radius: 0.5rem;
  color: white;
  padding: 14px 20px;
  margin: 20px auto;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #ff0080;
  color: white;
  

}

.form-control-lg {
    min-height: unset;
    padding: 0.75rem;
    font-size: .875rem;
    border-radius: 0.5rem;
}