<app-navbar-event></app-navbar-event>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/Front/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/Front/img/favicon.png">
    <link href="/assets/Front/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/Front/css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="/assets/Front/css/soft-design-system.css?v=1.0.9" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
</head>
<!-- START Blogs w/ 3 images & quote & text -->
<section class="py-5">
    <div class="container">
        <br>
        <br>
      <div class="row">
       
          <div class="col-md-6 position-relative">
            
            <p class="blockquote border border-primary rounded w-50 p-3 text-sm text-primary float-md-end mt-4 me-md-n2 mx-auto">
                <strong>"No finance, no strategy. Not technology. It is teamwork that remains the ultimate competitive advantage, both because it is so powerful and so rare."</strong>
                <br>
                <br>
                <small>~Patrick Lencioni</small>
            </p>
            <!-- Second image on the left side of the article -->
            <div class="position-absolute bottom-0 mb-10 ms-n2 me-3 start-0 end-2 d-md-block d-none">
              <div class="blur-shadow-image">
                <img class="image-container rounded-3 img-fluid position-relative bg-cover" src="../../assets/Front/img/APP0-esprit-esb.jpg">
                
            </div>
              
            </div>
  
          </div>
          <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="position-relative ms-n4 mb-5 mt-8 d-md-block d-none">
                <div class="blur-shadow-image">
                  <img class="image-right rounded-3 img-fluid position-relative bg-cover" src="../../assets/Front/img/curved-images/app00.jpg">
                </div>
              </div>
              <h3 class="mb-4">What is APP 0? </h3>
              <p>APP (pronounced APP-zero) stands for Project-Based Learning, which is the innovative teaching approach adopted by ESPRIT in its engineering program. During the course of one week, first-year students have the opportunity to familiarize themselves with ESPRIT's values and prepare for the active pedagogical approach which includes group work, brainstorming, project creation, and real-world scenarios. 
              </p>
              <p>
                This approach is designed to not only enhance students' problem-solving skills and theoretical knowledge but also encourage them to become active participants in their education. By engaging in hands-on projects, students develop essential skills such as critical thinking, collaboration, communication, and creativity, which are highly valued by employers. 
              </p>
              <p>Overall, APP 0 provides an immersive and collaborative learning experience that prepares students to become innovative and adaptable problem solvers in their future careers.
              </p>
          </div>
      </div>
  </div>
  </section>
  <!-- END Blogs w/ 3 images & quote & text -->
<app-footer></app-footer>