<app-nav-bar-back></app-nav-bar-back>
<div class="container-scroller">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile border-bottom">
        <a href="#" class="nav-link flex-column">
          <div class="nav-profile-image">
            <img src="../../../assets/Back/images/faces/face1.jpg" alt="profile" />
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
            <span class="font-weight-semibold mb-1 mt-2 text-center">Antonio Olson</span>
            <span class="text-secondary icon-sm text-center">$3499.00</span>
          </div>
        </a>
      </li>
      
      <li class="pt-2 pb-1">
        <span class="nav-item-head">Menu</span>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/claimlist">
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          <span class="menu-title">Claim list</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/claimstatics">
          <i class="mdi mdi-chart-bar menu-icon"></i>
          <span class="menu-title">Claim statics</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delib">
          <i class="mdi mdi-email-outline menu-icon"></i>
          <span class="menu-title">Deliberation notes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listevalint">
          <i class="mdi mdi-format-line-weight menu-icon"></i>
          <span class="menu-title">Interview list</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/evalcalander">
          <i class="mdi mdi-calendar menu-icon"></i>
          <span class="menu-title">Calender of Interviews</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listquestions">
          <i class="mdi mdi mdi-comment-question-outline menu-icon"></i>
          <span class="menu-title">List of questions</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewevaluations">
          <i class="mdi mdi mdi mdi-contrast-box menu-icon"></i>
          <span class="menu-title">List of evaluations</span>
        </a>
      </li>
    </ul>
  </nav>
  
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">         
                        <div class="card-body">
                            <h4 class="card-title">List of evaluations</h4>
                            <div class="text-center">
                                <button class="btn btn-success btn-rounded btn-fw btn-lg"
                                routerLink="/neweval">Add
                                new evaluations</button>
                            </div>
                            <br><br><br>
                            <div class="row">
                                <div class="col-sm-11 stretch-card grid-margin">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Evaluation Type</th>
                                                    <th>Task</th>
                                                    <th>Performances</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                *ngFor="let e of evaluations.slice(0, 13) | paginate: { itemsPerPage: 8 , currentPage: p } , let i=index ">
                                                    <td style="color: #990100;" *ngIf="p==null">{{ i + 1}}</td>
                                                    <td style="color: #990100;" *ngIf="p!=null">{{ (p-1) * 8 + i + 1}}</td>
                                                    <td>{{e.typeEvaluation}}</td>
                                                    <td>{{e.taskEval}}</td>
                                                    <td>
                                                        <tr *ngFor="let t of e.taskEvaluation">
                                                            <br> {{t.performence}}<br>
                                                        </tr>
                                                    </td>
                                                    <td>
                                                        <a><u style="font-weight: bold;">Delete</u></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-8 py-5 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>