<app-navbar-event></app-navbar-event>
<br>
<br>
<br>
<!-- -------- START CONTENT 7 w/ card over right bg image ------- -->
<div class="page-header min-vh-85 my-5">
    
    <div class="bg-gray-200 position-absolute fixed-bottom start-0 z-index-0 h-75 mb-n7 overflow-hidden opacity-8">
       
        <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
            
        <svg width="100%" viewBox="0 0 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title></title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard-Copy" transform="translate(0.000000, -416.000000)" fill="#FFFFFF">
                    <path d="M-1,477.610914 C298.333333,531.905996 618.333333,527.38687 959,464.053537 C1299.66667,400.720204 1619.66667,400.572663 1919,463.610914 L1920,572.610914 L0,572.610914 L-1,477.610914 Z" id="Path-Copy-2" transform="translate(959.500000, 494.526769) scale(-1, -1) translate(-959.500000, -494.526769) "></path>
                </g>
            </g>
        </svg>
      </div>
    </div>
    <div class="position-absolute fixed-top ms-auto w-75 h-75 border-radius-xl z-index-1 d-none d-sm-none d-md-block me-n4" style="background-image: url('../../assets/Front/img/curved-images/app.jpg'); background-size: cover; ">
    </div>
    <div class="container">
      <div class="row mt-7">
        <div class="col-lg-6 d-flex justify-content-center flex-column">
          <div class="card card-body d-flex justify-content-center shadow-lg border-radius-lg p-5 blur align-items-center z-index-2 shadow-blur">
            <h2 class="text-gradient text-warning mb-4">{{event?.titleEvent}}</h2>
            <h5 class="text-lg-start text-center mb-0"> Welcome, first-year students !</h5>
            Here is the important information of the APP0 event
            <br>
            <br>
            <strong> Start Date : </strong> {{event?.dateS | date: 'dd/MM/yyyy HH:mm'}}
            <strong> Closing Date : </strong> {{event?.dateF | date: 'dd/MM/yyyy HH:mm'}}
            <strong> location Bloc : </strong> {{event.room.nameRoom}}
            <br>

            <br>
            
           
            <p class="text-center ">
              You should choose the name of your Team, the Thematic and the Subject of your project before
              <u>{{ getPreviousDate(event.dateS) | date: 'dd/MM/yyyy HH:mm' }} </u>!
            </p>
            <div class="buttons w-100">
              <div *ngIf="event.dateS>formattedString">
              <button type="button" class="btn btn-outline-dark mb-0 ms-1" routerLink='/fill' >Fill in the information</button>
            </div>
        </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- -------- END CONTENT 10 w/ card over right bg image ------- -->
  <app-footer></app-footer>