<app-navbar-event></app-navbar-event>

<head>
  <style>
    tr {
      font-size: 120%;
    }

    h5 {
      font-size: 300%;
    }
  </style>
  <link rel="icon" type="image/png" href="/assets/Front/img/favicon.png">
</head>
<section class="py-5 bg-gray-100">
  <br>
  <br>
  <div class="page-header min-vh-100">

    <img src="data:image/png;base64,{{event.imageEvent}}" alt="img-blur-shadow" width="500px" height="700px"
      class="img-fluid shadow border-radius-lg" style="margin-left: 250px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 px-1 pt-1 mx-4 text-center"
          style="height: 10%; background-color: transparent; margin-top: -100px;">
          <div>
            <div class="position-relative">
              <br>
              <br>
            </div>
            <div class="card card-body blur d-flex justify-content-center shadow-lg p-5 mt-5">
              <h5 class="mb-4">
                {{event?.titleEvent}}
              </h5>
              <form>
                <td>
                  <tr>
                    <div class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">
                      <h6 class="text-gradient text-primary">Description :</h6>
                    </div>
                  </tr>
                </td>
                <td>
                  <tr style="color: rgb(58, 56, 56);">
                    <p class="lead pe-5 me-5">{{event?.descriptionEvent}}</p>
                  </tr>
                </td>
              </form>
              <form>
                <td>
                  <tr>
                    <div class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">Start
                      Date : </div>
                  </tr>
                </td>
                <td>

                  <tr style="color: rgb(58, 56, 56);">
                    <p class="lead pe-5 me-5">{{event?.dateS | date: 'dd/MM/yyyy HH:mm'}}</p>
                  </tr>
                </td>
              </form>
              <form>
                <td>
                  <tr>
                    <div class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">
                      Closing date : </div>
                  </tr>
                </td>
                <td>
                  <tr style="color: rgb(58, 56, 56);">
                    <p class="lead pe-5 me-5">{{event?.dateF | date: 'dd/MM/yyyy HH:mm'}}</p>
                  </tr>
                </td>
              </form>
              <form>
                <td>
                  <tr>
                    <div class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">Mode
                      of the event : </div>
                  </tr>
                </td>
                <td>
                  <tr style="color: rgb(58, 56, 56);">
                    <p class="lead pe-5 me-5">{{event?.modeEvent}}</p>
                  </tr>
                </td>
              </form>
              <form>
                <td>
                  <tr>
                    <div class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">Price
                      of the event : </div>
                  </tr>
                </td>
                <td>
                  <tr style="color: rgb(58, 56, 56);">
                    <p class="lead pe-5 me-5">{{event?.priceEvent}} DT</p>
                  </tr>
                </td>
              </form>
              <form>
                <td>
                  <tr>
                    <div class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">Room
                      of the event : </div>
                  </tr>
                </td>
                <td>
                  <tr style="color: rgb(58, 56, 56);">
                    <p class="lead pe-5 me-5">{{room?.nameRoom}}</p>
                  </tr>
                </td>

              </form>
              <div>
                <button type="button" class="btn bg-gradient-primary mt-7" [disabled]="event?.nbPartEvent == 0"
                  (click)="reservation(event.idEvent)">Book</button>

              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
</section>
<section class="py-5 ">

  <div class="row">

    <div class="col-md-7 mx-auto text-center mb-5">
      <h2 class="text-gradient text-info mb-0">Our guests </h2>
      <h5>You are into a great company</h5>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-2 px-4" *ngFor="let e of speaker">

      <a href="javascript:;">
        <div class="p-1">
          <img class="w-70 border-radius-md" src="../../assets/Front/img/ivana-square.jpg">
        </div>
      </a>
      <div class="card-body blur justify-content-center text-center mt-n5 mx-4 mb-4 border-radius-md "
        >
        <h4 class="mb-0">{{e.nameSpeaker}}</h4>
        <p>{{e.biography}}</p>
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <a href="javascript:;" class="btn btn-pinterest btn-round mb-0 mx-1 mt-md-0 mt-4 float-md-end">
              <i class="mdi mdi-instagram"></i> 232
            </a>
            <a href="javascript:;" class="btn btn-twitter btn-round mb-0 mx-1 mt-md-0 mt-4 float-md-end">
              <i class="mdi mdi-twitter"></i> 910
            </a>
            <a href="javascript:;" class="btn btn-facebook btn-round mb-0 mx-1 mt-md-0 mt-4 float-md-end">
              <i class="mdi mdi-facebook"></i>55
            </a>


          </div>
        </div>
      </div>

    </div>

  </div>

</section>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>